In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Attrition_dataset.csv')

In [3]:
df.head()

,EmployeeID,recorddate_key,birthdate_key,orighiredate_key,terminationdate_key,age,length_of_service,city_name,department_name,job_title,store_name,gender_short,gender_full,termreason_desc,termtype_desc,STATUS_YEAR,STATUS,BUSINESS_UNIT
0,1318,12/31/2006 0:00,1/3/1954,8/28/1989,1/1/1900,52,17,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2006,ACTIVE,HEADOFFICE
1,1318,12/31/2007 0:00,1/3/1954,8/28/1989,1/1/1900,53,18,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2007,ACTIVE,HEADOFFICE
2,1318,12/31/2008 0:00,1/3/1954,8/28/1989,1/1/1900,54,19,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2008,ACTIVE,HEADOFFICE
3,1318,12/31/2009 0:00,1/3/1954,8/28/1989,1/1/1900,55,20,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2009,ACTIVE,HEADOFFICE
4,1318,12/31/2010 0:00,1/3/1954,8/28/1989,1/1/1900,56,21,Vancouver,Executive,CEO,35,M,Male,Not Applicable,Not Applicable,2010,ACTIVE,HEADOFFICE

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49653 entries, 0 to 49652
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           49653 non-null  int64
 1   recorddate_key       49653 non-null  object
 2   birthdate_key        49653 non-null  object
 3   orighiredate_key     49653 non-null  object
 4   terminationdate_key  49653 non-null  object
 5   age                  49653 non-null  int64
 6   length_of_service    49653 non-null  int64
 7   city_name            49653 non-null  object
 8   department_name      49653 non-null  object
 9   job_title            49653 non-null  object
 10  store_name           49653 non-null  int64
 11  gender_short         49653 non-null  object
 12  gender_full          49653 non-null  object
 13  termreason_desc      49653 non-null  object
 14  termtype_desc        49653 non-null  object
 15  STATUS_YEAR          49653 non-null  int64
 16  STATUS               49653 non-null  object
 17  BUSINESS_UNIT        49653 non-null  object
dtypes: int64(5), object(13)
memory usage: 6.8+ MB

In [5]:
df.duplicated().any()

False

In [6]:
df.duplicated(subset='EmployeeID').any()

True

In [7]:
df=df.drop_duplicates(subset='EmployeeID',keep='last').reset_index(drop=True)

In [8]:
df.columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'store_name', 'gender_short',
       'gender_full', 'termreason_desc', 'termtype_desc', 'STATUS_YEAR',
       'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

converting object column to date format

In [9]:
d=df.columns[[1,2,3,4]]
for col in d:
    df[col]=pd.to_datetime(df[col])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6284 entries, 0 to 6283
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   EmployeeID           6284 non-null   int64
 1   recorddate_key       6284 non-null   datetime64[ns]
 2   birthdate_key        6284 non-null   datetime64[ns]
 3   orighiredate_key     6284 non-null   datetime64[ns]
 4   terminationdate_key  6284 non-null   datetime64[ns]
 5   age                  6284 non-null   int64
 6   length_of_service    6284 non-null   int64
 7   city_name            6284 non-null   object
 8   department_name      6284 non-null   object
 9   job_title            6284 non-null   object
 10  store_name           6284 non-null   int64
 11  gender_short         6284 non-null   object
 12  gender_full          6284 non-null   object
 13  termreason_desc      6284 non-null   object
 14  termtype_desc        6284 non-null   object
 15  STATUS_YEAR          6284 non-null   int64
 16  STATUS               6284 non-null   object
 17  BUSINESS_UNIT        6284 non-null   object
dtypes: datetime64[ns](4), int64(5), object(9)
memory usage: 883.8+ KB

In [11]:
df['store_name'].unique()
df=df.drop(columns=['store_name','gender_short'])

In [12]:
df.columns

Index(['EmployeeID', 'recorddate_key', 'birthdate_key', 'orighiredate_key',
       'terminationdate_key', 'age', 'length_of_service', 'city_name',
       'department_name', 'job_title', 'gender_full', 'termreason_desc',
       'termtype_desc', 'STATUS_YEAR', 'STATUS', 'BUSINESS_UNIT'],
      dtype='object')

In [13]:
df.columns=['Eid','Record Date','DOB','Hire Date',"Term Date",'Age','Experience',
            'City','Dname','Job','Gender','Term Reason','Term Type','Status Year',
            'Status','Business Unit']

In [14]:
for col in ['Status','Business Unit']:
    df[col]=df[col].str.title()

In [15]:
df.head()

,Eid,Record Date,DOB,Hire Date,Term Date,Age,Experience,City,Dname,Job,Gender,Term Reason,Term Type,Status Year,Status,Business Unit
0,1318,2015-12-31,1954-01-03,1989-08-28,1900-01-01,61,26,Vancouver,Executive,CEO,Male,Not Applicable,Not Applicable,2015,Active,Headoffice
1,1319,2015-12-31,1957-01-03,1989-08-28,1900-01-01,58,26,Vancouver,Executive,VP Stores,Female,Not Applicable,Not Applicable,2015,Active,Headoffice
2,1320,2015-12-31,1955-01-02,1989-08-28,1900-01-01,60,26,Vancouver,Executive,Legal Counsel,Female,Not Applicable,Not Applicable,2015,Active,Headoffice
3,1321,2015-12-31,1959-01-02,1989-08-28,1900-01-01,56,26,Vancouver,Executive,VP Human Resources,Male,Not Applicable,Not Applicable,2015,Active,Headoffice
4,1322,2015-12-31,1958-01-09,1989-08-31,1900-01-01,57,26,Vancouver,Executive,VP Finance,Male,Not Applicable,Not Applicable,2015,Active,Headoffice

In [16]:
# df.loc[df['Status']=='Active' , 'Term Date' ].unique()
# df.loc[df['Status']=='Active' , 'Record Date' ].unique()

In [17]:
df.loc[df['Status']=='Active' , 'Term Date' ]=df.loc[df['Status']=='Active' , 'Record Date' ]
df

,Eid,Record Date,DOB,Hire Date,Term Date,Age,Experience,City,Dname,Job,Gender,Term Reason,Term Type,Status Year,Status,Business Unit
0,1318,2015-12-31,1954-01-03,1989-08-28,2015-12-31,61,26,Vancouver,Executive,CEO,Male,Not Applicable,Not Applicable,2015,Active,Headoffice
1,1319,2015-12-31,1957-01-03,1989-08-28,2015-12-31,58,26,Vancouver,Executive,VP Stores,Female,Not Applicable,Not Applicable,2015,Active,Headoffice
2,1320,2015-12-31,1955-01-02,1989-08-28,2015-12-31,60,26,Vancouver,Executive,Legal Counsel,Female,Not Applicable,Not Applicable,2015,Active,Headoffice
3,1321,2015-12-31,1959-01-02,1989-08-28,2015-12-31,56,26,Vancouver,Executive,VP Human Resources,Male,Not Applicable,Not Applicable,2015,Active,Headoffice
4,1322,2015-12-31,1958-01-09,1989-08-31,2015-12-31,57,26,Vancouver,Executive,VP Finance,Male,Not Applicable,Not Applicable,2015,Active,Headoffice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6279,8258,2015-12-01,1994-05-28,2013-08-19,2015-12-30,21,2,Valemount,Dairy,Dairy Person,Male,Layoff,Involuntary,2015,Terminated,Stores
6280,8264,2013-08-01,1994-06-13,2013-08-27,2013-08-30,19,0,Vancouver,Customer Service,Cashier,Female,Resignaton,Voluntary,2013,Terminated,Stores
6281,8279,2015-12-01,1994-07-18,2013-09-15,2015-12-30,21,2,White Rock,Customer Service,Cashier,Female,Layoff,Involuntary,2015,Terminated,Stores
6282,8296,2013-12-01,1994-09-02,2013-10-09,2013-12-31,19,0,Kelowna,Customer Service,Cashier,Female,Resignaton,Voluntary,2013,Terminated,Stores
6283,8321,2014-12-01,1994-11-28,2013-11-24,2014-12-30,20,1,Grand Forks,Customer Service,Cashier,Female,Layoff,Involuntary,2014,Terminated,Stores

In [18]:
temp=df['Dname'].unique()
print(temp)
temp[0]

['Executive' 'Store Management' 'Meats' 'Recruitment' 'Customer Service'
 'Produce' 'Bakery' 'Dairy' 'Processed Foods' 'Training' 'Labor Relations'
 'HR Technology' 'Employee Records' 'Compensation' 'Legal'
 'Accounts Receiveable' 'Information Technology' 'Accounts Payable'
 'Audit' 'Accounting' 'Investment']

'Executive'

In [19]:
#CHief Information Officer

# endwith=['Manager','Clerk','Analyst','Admin']

# def multi_val(row):
#     if row['Job'].startswith('Exec Assistant,'):
#         return row['Job'].removeprefix('Exec Assistant,').strip()
#     elif row['Job'].startswith('Director'):
#         return 'Director'
#     for title in endwith:
#         if row['job'].endswith(title):
#             return title
#     return row['job']

In [20]:
def multi_val(row):
    if row['Job'].startswith('Exec Assistant,'):
        return row['Job'].removeprefix('Exec Assistant,').strip()
    elif row['Job'].endswith('Manager'):
        return 'Manager'
    elif row['Job'].endswith('Clerk'):
        return 'Clerk'
    elif row['Job'].endswith('Analyst'):
        return 'Analyst'
    elif row['Job'].endswith('Admin'):
        return 'Admin'
    elif row['Job'].startswith('Director'):
        return 'Director'
    else:
        return row['Job']
        
df['Job']=df.apply(multi_val,axis=1)

In [21]:
df['Job']=df['Job'].replace({'CHief Information Officer':'Chief Information Officer'})

In [22]:
# df.loc[df['Dname']==temp[20],['Dname','Job','Business Unit']]

In [23]:
# df.loc[df['Dname']==temp[8],'Job'].unique()

In [24]:
df['Experience']=(((df['Term Date']-df['Hire Date']).dt.days)/365).round(1)

In [25]:
df=df.set_index('Eid')

In [26]:
df[['Term Reason','Term Type']]=df[['Term Reason','Term Type']].replace({'Not Applicable':'NA'})

In [27]:
df

,Record Date,DOB,Hire Date,Term Date,Age,Experience,City,Dname,Job,Gender,Term Reason,Term Type,Status Year,Status,Business Unit
Eid,,,,,,,,,,,,,,,
1318,2015-12-31,1954-01-03,1989-08-28,2015-12-31,61,26.4,Vancouver,Executive,CEO,Male,NA,NA,2015,Active,Headoffice
1319,2015-12-31,1957-01-03,1989-08-28,2015-12-31,58,26.4,Vancouver,Executive,VP Stores,Female,NA,NA,2015,Active,Headoffice
1320,2015-12-31,1955-01-02,1989-08-28,2015-12-31,60,26.4,Vancouver,Executive,Legal Counsel,Female,NA,NA,2015,Active,Headoffice
1321,2015-12-31,1959-01-02,1989-08-28,2015-12-31,56,26.4,Vancouver,Executive,VP Human Resources,Male,NA,NA,2015,Active,Headoffice
1322,2015-12-31,1958-01-09,1989-08-31,2015-12-31,57,26.4,Vancouver,Executive,VP Finance,Male,NA,NA,2015,Active,Headoffice
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8258,2015-12-01,1994-05-28,2013-08-19,2015-12-30,21,2.4,Valemount,Dairy,Dairy Person,Male,Layoff,Involuntary,2015,Terminated,Stores
8264,2013-08-01,1994-06-13,2013-08-27,2013-08-30,19,0.0,Vancouver,Customer Service,Cashier,Female,Resignaton,Voluntary,2013,Terminated,Stores
8279,2015-12-01,1994-07-18,2013-09-15,2015-12-30,21,2.3,White Rock,Customer Service,Cashier,Female,Layoff,Involuntary,2015,Terminated,Stores
8296,2013-12-01,1994-09-02,2013-10-09,2013-12-31,19,0.2,Kelowna,Customer Service,Cashier,Female,Resignaton,Voluntary,2013,Terminated,Stores
8321,2014-12-01,1994-11-28,2013-11-24,2014-12-30,20,1.1,Grand Forks,Customer Service,Cashier,Female,Layoff,Involuntary,2014,Terminated,Stores

In [28]:
df.columns

Index(['Record Date', 'DOB', 'Hire Date', 'Term Date', 'Age', 'Experience',
       'City', 'Dname', 'Job', 'Gender', 'Term Reason', 'Term Type',
       'Status Year', 'Status', 'Business Unit'],
      dtype='object')

In [29]:
l=['Status Year','Gender','Age', 'Experience','City',
   'Dname','Job', 'Business Unit','Hire Date', 'Term Date',
   'Term Reason','Term Type','Status']
df=df[l]

In [30]:
df=df.sort_index(ascending=True)

## analysis using pandas

* no of employees hired in year

In [31]:
hiring=(df['Hire Date'].dt.year).value_counts().sort_index()
hiring.head()

Hire Date
1989     86
1990    214
1991    200
1992    248
1993    298
Name: count, dtype: int64

*no of employees is terminated based on year

In [32]:
termination=(df.loc[df['Status']=='Terminated', 'Term Date'].dt.year).value_counts()
termination.head()

Term Date
2014    253
2008    164
2007    162
2015    162
2009    142
Name: count, dtype: int64

In [33]:
df1=pd.merge(hiring,termination,how='outer',left_index=True,right_index=True).fillna(0).astype(int)
df1.columns=['hirings','termination']
df1['year_retention']=df1['hirings']-df1['termination']

In [34]:
# retention = active employees   ## 4799 employees are active
df1['retention']=(df1['hirings']-df1['termination']).cumsum()
df1

      hirings  termination  year_retention  retention
1989       86            0              86         86
1990      214            0             214        300
1991      200            0             200        500
1992      248            0             248        748
1993      298            0             298       1046
1994      298            0             298       1344
1995      312            0             312       1656
1996      273            0             273       1929
1997      312            0             312       2241
1998      341            0             341       2582
1999      315            0             315       2897
2000      305            0             305       3202
2001      212            0             212       3414
2002      238            0             238       3652
2003      218            0             218       3870
2004      214            0             214       4084
2005      256            0             256       4340
2006      239          134             105       4445
2007      237          162              75       4520
2008      246          164              82       4602
2009      249          142             107       4709
2010      254          123             131       4840
2011      242          110             132       4972
2012      259          130             129       5101
2013      218          105             113       5214
2014        0          253            -253       4961
2015        0          162            -162       4799

* 1. proportion of active and terminated employees
* 2. gender wise no_of active and terminated employees
* 3. gender and term reason wise no of active and terminated emp

* 1. proportion of active and terminated employees

In [35]:
df['Status'].value_counts()
(df['Status'].value_counts())/df.shape[0]
((df['Status'].value_counts())/df.shape[0])*100
(((df['Status'].value_counts())/df.shape[0])*100).round(1).astype(str)+'%'

Status
Active        76.4%
Terminated    23.6%
Name: count, dtype: object

* 2. gender wise no_of active and terminated employees

In [36]:
df.groupby(['Gender','Status']).agg({'Status':'count'})

                   Status
Gender Status
Female Active        2363
       Terminated     915
Male   Active        2436
       Terminated     570

In [37]:
df.groupby(['Gender','Status']).agg({'Status':'count'}).unstack()

       Status
Status Active Terminated
Gender
Female   2363        915
Male     2436        570

In [38]:
pd.pivot_table(df,index=['Gender'],columns=['Status'],values=['Status Year'],aggfunc='count')

       Status Year
Status      Active Terminated
Gender
Female        2363        915
Male          2436        570

3.gender and term reason wise no_of of acticve and terminated emp

4.average exp of active and terminated emp