In [49]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# LabelEncoder

In [50]:
df = pd.DataFrame({'product':['watch','laptop','tab','laptop','tab','tab','watch']})
df

  product
0   watch
1  laptop
2     tab
3  laptop
4     tab
5     tab
6   watch

In [51]:
le = LabelEncoder() # instance of class
# fit transform module - fit(identify unique categories) + transform(convert categories to numbers)

In [52]:
# data = le.fit_transform(df['product'])

In [53]:
# data

In [54]:
# df.columns

In [55]:
# name = df.columns

In [56]:
# df1 = pd.DataFrame(data,columns=name)

### Alternative way

In [57]:
df['product'] = le.fit_transform(df['product']) # directly transforming in original dataframe it overwrites the column
df

   product
0        2
1        0
2        1
3        0
4        1
5        1
6        2

### drawbacks of LabelEncoder
- It assigns arbitrary numbers to categories which may mislead some algorithms to assume an order or priority among categories.
- It is not suitable for nominal categorical variables with no inherent order.
- It can lead to the curse of dimensionality if there are many unique categories, resulting in a large number of features.
- if there is more unique categories it may not be efficient.

### One-Hot Encoding

In [58]:
df = pd.DataFrame({'product':['watch','laptop','tab','laptop','tab','tab','watch']})
df

  product
0   watch
1  laptop
2     tab
3  laptop
4     tab
5     tab
6   watch

In [63]:
ohe = OneHotEncoder(sparse_output=False) # instance of class
# Instead of storing all those zeros, we store only where 1 exists.
# spare matrix is memeory efficient way of storing data.

In [60]:
data = ohe.fit_transform(df[['product']])

In [61]:
col_name = ohe.get_feature_names_out(['product']) # getting column names after one hot encoding
col_name

array(['product_laptop', 'product_tab', 'product_watch'], dtype=object)

In [62]:
df1 = pd.DataFrame(data,columns=col_name)
df1

   product_laptop  product_tab  product_watch
0             0.0          0.0            1.0
1             1.0          0.0            0.0
2             0.0          1.0            0.0
3             1.0          0.0            0.0
4             0.0          1.0            0.0
5             0.0          1.0            0.0
6             0.0          0.0            1.0