# For Handling Warnings

In [306]:
import warnings
warnings.filterwarnings('ignore')

# Necessary Imports

In [307]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler,minmax_scale
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,OrdinalEncoder

In [308]:
df=pd.read_csv('bengaluru_house_prices.csv')

In [309]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

# Encoding

In [310]:
data=pd.DataFrame({'grade':['S','A','S','A','0'],'exam_result':['first_class','good','first_class','good','fail']})
data

  grade  exam_result
0     S  first_class
1     A         good
2     S  first_class
3     A         good
4     0         fail

# Label Encoding

In [311]:
label_encoder = LabelEncoder()
# encoded_data = label_encoder.fit_transform(data)
# why this error?
# ValueError: y should be a 1d array, got an array of shape (5, 2) instead.

In [312]:
data['grade']

0    S
1    A
2    S
3    A
4    0
Name: grade, dtype: object

In [313]:
label_encoder.fit_transform(data['grade'])

array([2, 1, 2, 1, 0])

In [314]:
label_encoder.transform(['S'])

array([2])

# One Hot Encoding

In [315]:
encoder = OneHotEncoder(sparse_output=False,handle_unknown='ignore')
encoded_data = encoder.fit_transform(data)
encoded_data

array([[0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 0., 0., 1.],
       [0., 0., 1., 0., 1., 0.],
       [0., 1., 0., 0., 0., 1.],
       [1., 0., 0., 1., 0., 0.]])

In [316]:
encoder.transform([['S1','Good1']])

array([[0., 0., 0., 0., 0., 0.]])

In [317]:
encoder.get_feature_names_out()
pd.DataFrame(encoded_data,columns=encoder.get_feature_names_out())

,grade_0,grade_A,grade_S,exam_result_fail,exam_result_first_class,exam_result_good
0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0

# Ordinal Encoding

In [318]:
data=pd.DataFrame({'grade':['S','A','S','A','F'],'exam_result':['Excellent','Good','Excellent','Good','Fail']})
data

  grade exam_result
0     S   Excellent
1     A        Good
2     S   Excellent
3     A        Good
4     F        Fail

In [319]:
ord_encoder = OrdinalEncoder(categories=[['S','A','F'],['Excellent','Good','Fail']])

In [320]:
ord_encoder.fit_transform(data) # accepts only 2D

array([[0., 0.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [2., 2.]])

In [321]:
ord_encoder.fit_transform([['S','Good']])

array([[0., 1.]])

In [322]:
ord_encoder = OrdinalEncoder()
ord_encoder.fit_transform([['S1','Good']])

array([[0., 0.]])

In [323]:
ord_encoder = OrdinalEncoder(categories=[['S','A','F'],['Excellent','Good','Fail']],handle_unknown='use_encoded_value',unknown_value=-1)
# here unknown categories will be encoded as -1 and we pass categories in order to avoid error

In [324]:
ord_encoder.fit_transform(data) # learns pattern from data

array([[0., 0.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [2., 2.]])

In [325]:
ord_encoder.transform([['W','Average']])

array([[-1., -1.]])