In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler,RobustScaler,MinMaxScaler
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
df=pd.read_csv('bengaluru_house_prices.csv')

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data=pd.DataFrame({'Grade':["S",'A','S','A','0'],'Exam_results':['first_class','good','First','Good','Fail']})

In [8]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [10]:
label_encoder=LabelEncoder()

In [11]:
label_encoder.fit_transform(data['Grade'])

array([2, 1, 2, 1, 0])

In [12]:
label_encoder.transform(['S'])

array([2])

In [13]:
encoder=OneHotEncoder(sparse_output=False,handle_unknown='ignore')
encoder.fit_transform(data)
# pd.DataFrame(encoded_data.toarray(),columns=encoder.get_feature_names_out())

array([[0., 0., 1., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0., 0., 1.],
       [0., 0., 1., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 1., 0., 0.],
       [1., 0., 0., 1., 0., 0., 0., 0.]])

In [14]:
encoder.get_feature_names_out()

array(['Grade_0', 'Grade_A', 'Grade_S', 'Exam_results_Fail',
       'Exam_results_First', 'Exam_results_Good',
       'Exam_results_first_class', 'Exam_results_good'], dtype=object)

In [17]:
encoder.transform([['S','Good1']])

c:\Users\shrey\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 1., 0., 0., 0., 0., 0.]])